{% extends 'car/base.html' %}
    
{% block body %}
<div class="container my-4" style="text-align: center;width: 350px;justify-content: center;
align-items: center;
background-color: rgb(255, 166, 0);
;border: 2px solid black;box-shadow: 2px 2px  black;font-variant: small-caps;
color: rgb(18, 17, 17);">
<form method="POST" enctype="multipart/form-data">
    <h1 style="background-color:rgb(186, 14, 243);color: #fefdfd;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;">ADD-CAR</h1><br>
    {% csrf_token %}
    <h5>No Negative(-) Number</h5>
    <label>Car Code: </label><br>
    {{ form.car_code }}<br>
    <br><label>Name: </label><br>
    {{ form.car_person_name }}<br>
    <br><label>Car Name: </label><br>
    {{ form.car_name }}<br>
    <br><label>Car Model: </label><br>
    {{ form.car_model }}<br>
    <br><label>Car Price: </label><br>
    {{ form.car_price }}<br>Rs
    <br><label>Car Image: </label><br>
    {{ form.car_image }}<br><br>
    <br><label> Car Description: </label><br>
    {{ form.car_desc }}<br>
    <button class="btn-danger" type="submit"  style="font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;">Save</button>
    <br><br>
</form>
</div>

{% endblock %}


  
