{% extends "car/base.html" %}



{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide  my-4 col-md-5 offset-md-3" data-bs-ride="carousel" height="400">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide "></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner" style="border: 2px solid rgb(3, 3, 3);">
          <div class="carousel-item active">
            <img src="{{ car.car_image.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ car.car_image1.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ car.car_image2.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ car.car_image3.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ car.car_image4.url }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ car.car_image5.url }}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- <div class="col-md-3 offset-md-1">
        <a href="{% url 'car:update_image' car.id %}"
         style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
         class="btn btn-warning">
         Image
         </a>
    </div> -->

<div class="container" style="color: white;font-variant: small-caps;">
    <div class="row my-4">
        <div class="col-md-4 offset-md-1">
            <h1 
            style="font-size: 2.3rem;"
            >
                Car:- {{ car.car_name}}
            </h1>
            <h1 style="font-size: 1.3rem;">
                Model:- {{ car.car_model}}
            </h1>
            <h1 style="font-size: 1.3rem;">
                Name:- {{ car.car_person_name}}
            </h1>
            <h2
            style="font-size: 1.3rem;
            text-align: justify;
            "
            >
                Desc:- {{ car.car_desc}}
            </h2>
            <h3>
                Rs. {{ car.car_price}}
            </h3>
        </div>
    {% if car.car_person_name == request.user.username %}
    <div class="col-md-3 offset-md-1">
               <a href="{% url 'car:update_views' car.id %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-warning">
                Edit
                </a>
                <a href="{% url 'car:delete_views' car.id %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-danger">
                Delete
                </a>
                <a href="{% url 'car:index' %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-success">
                Back
                </a>
   {% endif %}
</div>

{% endblock %}