{% extends "car/base.html" %}



{% block body %}

<div class="container" style="color: white;font-variant: small-caps;">
    <div class="row my-4">
        <div class="col-md-2 offset-md-1">
            <img 
            height="150px"
            width="250px"
            class="card"
            src="{{ car.car_image}}"
            >
        </div>
        <div class="col-md-4 offset-md-1">
            <h1 
            style="font-size: 2.3rem;"
            >
                Car:- {{ car.car_name}}
            </h1>
            <h1 style="font-size: 1.3rem;">
                Model:- {{ car.car_model}}
            </h1>
            <h1 style="font-size: 1.3rem;">
                Name:- {{ car.car_person_name}}
            </h1>
            <h2
            style="font-size: 1.3rem;
            text-align: justify;
            "
            >
                Desc:- {{ car.car_desc}}
            </h2>
            <h3>
                Rs. {{ car.car_price}}
            </h3>
        </div>
    <div class="col-md-3 offset-md-1">

               <a href="{% url 'car:update_views' car.id %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-warning">
                Edit
                </a>
                <a href="{% url 'car:delete_views' car.id %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-danger">
                Delete
                </a>
                <a href="{% url 'car:index' %}"
                style="width: 80px;font-variant: small-caps;border: 2px solid black;box-shadow: 2px 2px  black;"
                class="btn btn-success">
                Back
                </a>
</div>

{% endblock %}