{% extends 'car/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Emon.car</title>
</head>
<body>
    {% block body %}
    <div class="container my-4">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?sportcar,lamborghini" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?sportcar,bugatti" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?sportcar,koenigsegg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    {% for Addcar in Addlist %}
    <div class="row mb-5">
      <div class="col-md-3 offset-md-2">
          <img src="{{ Addcar.car_image }}" class="card" height="135px" width="230px">
      </div>
      <div class="col-md-4">
          <h3 style="font-size: 1.5rem;">
              {{ Addcar.car_name }}
          </h3>
          <h3 style="font-size: 1.5rem;">
              {{ Addcar.car_person_name }}
          </h3>
          <h3 style="font-size: 1.5rem;">
              {{ Addcar.car_model }}
          </h3>
          <h5 style="font-size: italic;
          font-size: 1rem;
          ">
              {{ Addcar.car_desc |  truncatewords:6}}
          </h5>
          <h6>
              Rs. {{ Addcar.car_price}}
          </h6>
          <h6
          style="font-size: italic;"
          >
          added by superuser: admin
          </h6>
      </div>
      </div>
  </div>



    {%  endfor %}
    {% endblock %}
</body>
</html>