{% extends 'car/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Emon.car</title>
</head>
<body>
    {% block body %}
    <div class="container my-4">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?sportcar,lamborghini" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?sportcar,bugatti" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?sportcar,koenigsegg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
</body>
</html>