{% extends 'car/base.html' %}

{% block body %}

<div class="container" style="text-align: center;">
    <form method="post">
    {% csrf_token %}
    <label >Username:</label><br>
    {{ form.username }}
    <br><label >Email:</label><br>
    {{ form.email }}
    <br><label >First Name:</label><br>
    {{ form.first_name }}
    <br><label >Last Name:</label><br>
    {{ form.last_name }}
    <br><label >Password:</label><br>
    {{ form.password1 }}
    <br><label >Confirm:</label><br>
    {{ form.password2 }}
    <br><br><button type="submit">Sign Up</button>
    
</form> 
</div>




{% endblock %}